.Code
  position absolute
  width 100%
  height 100%
  display grid
  grid-template-rows calc(1.5rem + 2px) auto
  grid-template-columns auto calc(128px * 3 + 3rem)

  nav
    grid-column 1/3

  .Output
    margin 1.5rem auto 0 auto

    canvas
      margin-bottom 1.5rem

