.Output
  width calc(128px * 3)
  canvas
    display block
    width 100%
    height calc(128px * 3)
    image-rendering pixelated

  // .buttons-and-duration
  //   margin 0.25rem 0 0 0
  //   display flex
  //   justify-content space-between
  //   button
  //     @extend .VT323
  //     font-size $font-medium
  //     background $palette-7
  //     color $palette-1
  //     border solid $palette-3 1px
  //     margin 0 0.25rem
  //     &:hover
  //       cursor pointer
  //       color $palette-0
  //       border solid $palette-1 1px

  //   .duration
  //     button
  //       pointer-events none
  //       background $palette-7
  //       color $palette-1
  //       border solid $palette-7 1px
