*
  box-sizing border-box

@require 'utils/*.styl'
@require 'components/*.styl'

html
  background $palette-7

body
  margin 0
  padding 0
  @extend .VT323
  color $palette-0
  font-size $font-large

p
  margin 0
  padding 0

ul
  padding 0
  margin 0
  list-style none

a
  color $palette-0
  &:hover
    background $palette-0
    color $palette-7

nav
  border-bottom solid $palette-6 2px
  display flex
  justify-content space-between
  ul
    display flex
  a
    text-decoration none
    text-transform uppercase
    padding 0 0.5rem
    color $palette-2
    &:hover
      color $palette-0
      background $palette-7
    &.active
      color $palette-1
      background $palette-6
      pointer-events none
      cursor default