*
  box-sizing border-box

@require 'utils/colors.styl'
@require 'utils/fonts.styl'
// @require 'components/*.styl'

html
  background $palette-7

body
  margin 0
  padding 0
  @extend .VT323

  color $palette-0
  font-size $font-large

.App
  width 100vw