*
  box-sizing border-box

@require 'utils/colors.styl'
@require 'utils/fonts.styl'
// @require 'components/*.styl'

html
  background $palette-7

body
  margin 0
  padding 0
  @extend .VT323
  color $palette-0
  font-size $font-medium

h1
  font-size $font-large
  text-align center

a
  color $palette-2

.App
  width 100vw

nav
  display flex
  justify-content space-between

  a
    text-transform uppercase

  ul
    padding 0
    margin 0
    display flex
    list-style none
    li
      padding-right 0.5em

.Home
  .Shelf
    border solid $palette-6 2px
    grid-column 1/3

.Covers
  button
    margin-right 0.5em
  span
    padding-right 0.5em
    &.time-ago
      color $palette-4

.Code
  display grid
  grid-template-columns 45% 45%
  grid-column-gap 10%
  grid-row-gap 2em

  > h1
    grid-column 1/3

  .Editor
    border solid $palette-6 2px
    textarea
      display block
      @extend .VT323
      width 100%
      font-size $font-medium
      background $palette-6
      color $palette-0
      border solid $palette-1 1px

  .Output
    border solid $palette-6 2px
    pre
      display block
      @extend .VT323
      width 100%
      font-size $font-medium
      color $palette-0

  .Shelf
    border solid $palette-6 2px
    grid-column 1/3
